[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=1.10.0"
torchvision = ">=0.11.0"
pytorch-lightning = "==1.6.5"
torchmetrics = "==0.9.2"
hydra-core = "==1.2.0"
hydra-colorlog = "==1.2.0"
hydra-optuna-sweeper = "==1.2.0"
pyrootutils = "*"
pre-commit = "*"
rich = "*"
pytest = "*"
sh = "*"
lightning-bolts = "*"
scikit-learn = "*"
seaborn = "*"
more-itertools = "*"
wandb = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.10"
